* {
  margin: 0px;
  padding: 0px;
  font-family: VariableFont;
}

.head {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.head #links {
  margin-right: 15px;
  display: inline-flex;
  font-size: small;
}

.head #links a {
  margin-left: 10px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  background-color: rgb(235, 235, 235);
  width: 8em;
  height: auto;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.2s ease 0s;
}

.head #links a:hover {
  background-color: rgb(182, 180, 180);
  box-shadow: 0 0 5px gray;
  transform: scale(1.1);
}

#column_form{
  column-fill: balance;
}

#mainSection {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

#mainSection #inputField {
  margin-top: 15px;
  border: 1px solid #dfe1e5;
  height: 14px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  padding: 15px 15px;
  width: 470px;
  box-shadow: 0px 0px 7px 1px rgb(224, 224, 224);
}

#mainSection #inputField i {
  color: rgb(146, 141, 141);
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 32px;
}

#mainSection #inputField:hover{
  box-shadow: 0px 0px 7px 1px rgb(224, 224, 224);
}

#mainSection #inputField input {
  width: 100%;
  border: none;
  box-shadow: none !important;
  outline: none !important;
  margin-left: 7px;
  font-size: 16px;
}

#mainSection #button {
  display: flex;
  justify-content: center;
}



#mainSection #button input {
  background-color: rgb(235, 235, 235);
  border: none;
  border-radius: 10px;
  font-size: 14px;
  margin: 20px 5px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform .1s;

}

#mainSection #button input:hover {
  background-color: rgb(182, 180, 180);
  box-shadow: 0 0 5px gray;
  transform: scale(1.1);}

.advancedHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  font-size: small;
}

.googleImageLittle {
  width: auto;
  display: flex;
  align-items: center;
}

.googleImageLittle img {
  width: 70px;
  height: auto;
}

#googleSearch_link{
  text-decoration: none;
  color: #000;
  background-color: rgb(235, 235, 235);  border: none;
  border-radius: 10px;
  font-size: 14px;
  margin: 20px 5px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform .1s;
}
  
#googleSearch_link:hover {
  background-color: rgb(182, 180, 180);
  box-shadow: 0 0 5px gray;
  transform: scale(1.1);
}


.advancedSubHeader {
  border-bottom: 1px solid #ebebeb;
}

.advancedSubHeader h3 {
  color: #d93025;
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 35px;
  margin-top: 15px;
  font-weight: normal;
}

.inputOne .textDesHeading {
  font-size: 16px;
  min-width: 167px;
  width: 16%;
  font-weight: 500;
  color: #333;
}

.inputOne .ToDoHeading {
  color: #777;
  font-weight: bold;
  font-size: 13px;
}

.inputOne {
  display: flex;
  align-items: center;
  max-width: 1140px;
  min-width: 200px;
  width: 96%;
  margin: 30px 2% 0 45px;
}

.inputOne .textDes {
  width: 200px;
  font-size: 13px;
}

.inputOne .input-field {
  min-width: 167px;
  width: 50%;
}

.inputOne .input-field input {
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
  width: 100%;
}

.inputOne .toDo {
  width: 32%;
  min-width: 160px;
  color: #555;
  font-size: 11px;
  padding-left: 30px;
}

span {
  color: #666;
  font-family: monospace;
  font-size: 11px;
  white-space: pre;
}

.inputOne .button {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.button input {
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  color: white;
  height: 30px;
  min-width: 120px;
  border: 1px solid #3079ed;
  color: #fff;
  border-radius: 2px;
  font-size: 12px;
}

@font-face {
  font-family: VariableFont;
  src: url(fonts/Rubik-VariableFont_wght.ttf);
}